
 a{
        color: rgb(64, 172, 148);
        text-decoration: none;
 }

 .right {
   float :right;
   padding-right: 10px;
 }

 .left{
   float :left;
 }
  
.header-section{
  height: 80px;
  line-height: 80px;
  color: beige;
  background-color: rgb(46, 43, 43);
  font-size: 24px;
  padding-left: 20px;
}
